.taper
{ 
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: auto;
    list-style: none;
    background-color:rgb(59, 57, 57);
   
}
.taper2
{
    display: flex;
    flex-direction: row;  
    padding: 1em; 
    padding-top: 5em;
    background-color:rgb(59, 57, 57);
    

}
.taper3
{
    /*margin-left: 1em;*/
    background-color:rgb(134, 134, 134);
    width: 20em;
    padding: 1em;
    margin-block-start: 0em;
    margin-block-end: 0em;
    border-bottom-right-radius:15px ;
    border-top-right-radius: 15px;
}
.infor
{
    display: flex;
    
}

.titulo
{
 display: flex;
 justify-content: center;
 font-family: sans-serif;
}
.botones
{
display: flex;
justify-content: flex-end;
grid-gap: 1em;

}
.botones2
{
 border: none;
}
img
{
    width: 10em;
    border-bottom-left-radius:15px ;
    border-top-left-radius: 15px;
}
.footer
{
    
    background-color:rgb(22, 25, 180);
    text-align:center;
    margin-top: -1.2%;
}

body
{ 

    margin:0;
    
}
h3
{
    margin-block-start: 0em;
    margin-block-end: 0em;

}
.sacarEspacio
{
    margin-top: 0px;
    margin-block-start: 0px;
    margin-block-end: 0px;
}